# Ignorar contenido de uploads pero mantener la carpeta
backend/restobar-rdr/uploads/productos/*
!backend/restobar-rdr/uploads/productos/.gitkeep

#Ignorar la carpeta .idea y .vscode
.idea/
.vscode/

# Variables de entorno locales
.env
.env.local
.env.production

#Residuos MySQL
.envMySQL
docker-compose.ymlMySQL
recursos/script_restobar.sql

#Ignorar la carpeta taste
taste/

#Comandos de OpenCode
.opencode/